<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet"  href="css/bootstrap-3.3.7/bootstrap.css" >
	<link rel="stylesheet"  href="css/style.css">

	<template id="app-nav">
	   <div id="app-nav" v-bind:style="styleObject">
			<span v-if="header.loginType" v-html="'Welcome ' + header.userProfile.name" key="username-input"></span>
	    	<span v-else v-html="'Welcome ' + header.userProfile.email" key="email-input"></span>
			<span v-html="header.datetime" class="pull-right"></span>

		</div>
	</template>

	<template id="sidebar-form">
		<input
			v-model="newItemText"
			v-on:keyup.enter="addNewItem"
			placeholder="Add an item"
			v-bind:style="styleObject"/>
	</template>

	<template id="list-item">
		<li>
			<span v-html="item.text" v-bind:class="{bold:isActive}" v-on:click.prevent="clicked($event)"></span>
			<button v-on:click="remove">x</button>
		</li>
	</template>

	<template id="app-sidebar">
		<div class="col-md-6 sidebar">
			<h4>SideBar</h4>
			<sidebar-form v-if="openForm" v-on:item-added="addItem"></sidebar-form>
			<button v-else v-on:click="addNewItem">Add New Item</button>

			<ul v-if="viewProfile.items.length">
				<li
					is="list-item" 
					v-for="(item, index) in viewProfile.items"
					v-bind:item="item"
					v-bind:key="item.id"
					v-on:item-removed="removeItem"
					v-on:disable-bold-items="disableItems">
				</li>
			</ul>
			<p v-else>No items to display</p>
	    </div>
	</template>

	<template id="app-content">
		<div class="col-md-6 content">
			<div v-if="viewProfile.itemClicked == 'Rectangle'" v-bind:id="viewProfile.itemClicked">
				<svg width="50" height="50">
  					<rect x="0" y="0" width="50" height="50" fill="green" />
				</svg>
			</div>
			<div v-else-if="viewProfile.itemClicked == 'Circle'" v-bind:id="viewProfile.itemClicked">
				<svg width="50" height="50">
  					<circle cx="25" cy="25" r="25" fill="purple" />
				</svg>
			</div>
			<div v-else-if="viewProfile.itemClicked == 'Ellipse'" v-bind:id="viewProfile.itemClicked">
				<svg width="50" height="50">
				  <ellipse cx="25" cy="25" rx="15" ry="10" fill="red" />
				</svg>
			</div>
			<div v-else-if="viewProfile.itemClicked == 'Line'" v-bind:id="viewProfile.itemClicked">
				<svg width="50" height="50">
				  <line x1="5" y1="5" x2="40" y2="40" stroke="gray" stroke-width="5"  />
				</svg>
			</div>
			<p v-else v-html="empty"></p>
	    </div>
	</template>

	<template id="app-view">
		<div class="app-view">
			<app-sidebar v-bind:view-profile="viewProfile"></app-sidebar>
		    <app-content v-bind:view-profile="viewProfile"></app-content>
	    </div>
	</template>

</head>

<body>
	<div id="app">
		<app-nav  v-bind:header="headerProfile"></app-nav>
		<app-view v-bind:view-profile="viewProfile"></app-view>
	</div>

	<!-- Load the script "js/main.js" as our entry point -->

	<script data-main="js/main.js" src="js/libs/require/require.js"></script>
</body>
</html>




